__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.env
.env.*
db.sqlite3
*.sqlite3
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
README.md
docker-compose*.yml
Dockerfile
.dockerignore
postgres_data/
logs/
certbot/